<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>Quem Somos</title>

        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/CSS/quem-somos.css">
    </head>

    <body>

        <div class="main">
            <div class="apresentacao">
                <div class="picture">
                    <img class="img-mulheres" src="../public/img/comp_meninas.png" alt="Foto com escrito 'Computação é para meninas'">
                </div>
                <div class="txt-institucional">
                    <h2>Quem Somos</h2>

                    <p>Somos um grupo de alunas para ajudar outras meninas dentro do Curso de Computação, ou que queiram ir para esse meio, como Ciência da Computação, Engenharia Computacional, Sistemas de Informação e Ciências Exatas.</p>
                </div>
            </div>
            <div class="quem-somos">
                <h2>Missão</h2>

                <p></p>

                <h2>Visão</h2>
                <p></p>

                <h2>Valores</h2>
                <p></p>
            </div>
        </div>

    </body>
</html>