{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <title>SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div id="cabecalho">
      <div id="logo">
        <h1>SigaComElas</h1>
      </div>

      <div id="menu">
        <a href="/home/">Home</a>
        <a href="/titulos/">Títulos</a>
        <a href="/tutorial/">Tutorial</a>
        <a href="/sobre/">Sobre</a>
        <a href="/politicas/">Políticas</a>
        {% if nao_aluna %}
            <a href="/criaTarefa/">Criar Tarefa</a>
        {% else %}
            <a href="/titulo-atual/">Seu título</a>
        {% endif %}
        
        <a href="/assistencia/">Assistência Estudantil</a>
        <a href="/professoras/">Lista de Professoras</a>
        <a href="/criarPost/">Criar Postagem</a>
        <a href="http://127.0.0.1:8000">Sair</a>
      </div>
    </div>

      <div id="main">
          <div class="container">
		  <section class="about_section layout_padding">
            <div class="custom_heading-container">
              <h3 class=" ">
                Assistência Estudantil
              </h3>
            </div>
          <div class="layout_padding2-top">
            <p class="row">A Coordenação de Assuntos Estudantis possui cinco modalidades de apoio estudantil:</p>
			
				<div class="row">
					<div class="col-lg-4">
						<h5>Alimentação</h5>
						<p>A discente apoiada terá direito a refeições gratuitas (café da manhã, almoço e jantar) nos restaurantes universitários da UFJF.</p>
					</div>
					<div class="col-lg-4">
						<h5>Auxílio-creche</h5>
						<p>a discente apoiada receberá concessão de auxílio financeiro para custeio parcial das despesas com creche de seus dependentes legais até seis anos incompletos.</p>
					</div>
					<div class="col-lg-4">
						<h5>Transporte</h5>
						<p>A discente apoiada receberá vales-transporte mensalmente para deslocamento, durante o período letivo, de sua residência até o campus. A quantidade de vales-transporte é calculada em função da localização da residência e do comprovante de matrícula.</p>
					</div>
				</div>
				<br/><br/>
				<div class="row">
					<div class="col-lg-6">
						<h5>Manutenção</h5>
						<p>A discente apoiada terá direito a: a) refeições gratuitas (café da manhã, almoço e jantar) nos restaurantes universitários da UFJF; b) transporte de ida e volta, durante o período letivo, entre o campus e o centro da cidade; c) o recebimento mensal de auxílio financeiro; e d) o desenvolvimento de 12 (doze) horas semanais em atividades sociopedagógicas em projetos da UFJF.</p>
					</div>
					<div class="col-lg-6">
						<h5>Moradia</h5>
						<p>Recebimento mensal, em pecúnia, destinado ao discente oriundo de outra localidade. Essa modalidade é exclusiva para estudante que reside em Juiz de Fora em república, pensão e/ou residência familiar (de não parentes mediante pagamento de aluguel e cuja família não tenha casa própria em Juiz de Fora).</p>
					</div>
				</div>	
				<br/><br/>
				
			<p class="row">A Coordenação de Assuntos Estudantis disponibiliza também os seguintes serviços:</br></p>
			
			<div class="row">
				<div class="col-lg-6">
					<h5>Apoio pedagógico</h5>
					<p>Tem o objetivo de diminuir as deficiências pedagógicas, estimular e facilitar a permanência do estudante no curso e assessorar os alunos nas demandas didáticas e pedagógicas. O atendimento aos alunos acontece diariamente no horário das 12h00 às 18h00.</p>
				</div>
				<div class="col-lg-6">
					<h5>Atendimento psicossocial</h5>
					<p>Possui o objetivo de promover ações, de caráter orientador, encaminhador, avaliador, no campo psicológico. Este serviço tem a função de acolhimento e orientação. É um momento dedicado à escuta e reflexões das emoções diárias, buscando oferecer suporte e apoio do discente, e, quando necessário, o encaminhamento para outros serviços de atendimento. O atendimento acontece diariamente no horário de 09h00 às 12h00 e de 15h00 às 19h00.</p>
				</div>
			</div>	
			<br/><br/>
          </div>
        </section>
    </div>

      <div id="rodape">
        Todos os direitos reservados
      </div>
    </div>
  </body>
</html>
