<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <title>SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/home.css">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="cabecalho">
      <div id="logo">
        <h1>SigaComElas</h1>
      </div>

      <div id="menu">
        <a href="homeUsuario.html">Home</a>
        <a href="titulos.html">Títulos</a>
        <a href="tutorial.html">Tutorial</a>
        <a href="contato.html">Contato</a>
        <a href="politicas.html">Políticas</a>
        <a href="home.html">Sair</a>
      </div>
    </div>

      <div id="main">
        <section class="about_section layout_padding">
          <div class="container">
            <div class="custom_heading-container">
              <h3 class=" ">
                Assistência Estudantil
              </h3>
            </div>
          <p class="layout_padding2-top">
            A Coordenação de Assuntos Estudantis possui cinco modalidades de apoio estudantil:

Modalidade alimentação: o discente apoiado terá direito a refeições gratuitas (café da manhã, almoço e jantar) nos restaurantes universitários da UFJF.
Modalidade auxílio-creche: o discente apoiado receberá concessão de auxílio financeiro para custeio parcial das despesas com creche de seus dependentes legais até seis anos incompletos.
Modalidade manutenção: o discente apoiado terá direito a: a) refeições gratuitas (café da manhã, almoço e jantar) nos restaurantes universitários da UFJF; b) transporte de ida e volta, durante o período letivo, entre o campus e o centro da cidade; c) o recebimento mensal de auxílio financeiro; e d) o desenvolvimento de 12 (doze) horas semanais em atividades sociopedagógicas em projetos da UFJF.
Modalidade moradia: recebimento mensal, em pecúnia, destinado ao discente oriundo de outra localidade. Essa modalidade é exclusiva para estudante que reside em Juiz de Fora em república, pensão e/ou residência familiar (de não parentes mediante pagamento de aluguel e cuja família não tenha casa própria em Juiz de Fora).
Modalidade transporte: o discente apoiado receberá vales-transporte mensalmente para deslocamento, durante o período letivo, de sua residência até o campus. A quantidade de vales-transporte é calculada em função da localização da residência e do comprovante de matrícula.
 

A Coordenação de Assuntos Estudantis disponibiliza também os seguintes serviços de apoio pedagógico e social:

Apoio pedagógico: tem por objetivo diminuir as deficiências pedagógicas, estimular e facilitar a permanência do estudante no curso e assessorar os alunos nas demandas didáticas e pedagógicas. O atendimento aos alunos acontece diariamente no horário das 12h00 às 18h00.
Atendimento psicossocial: tem por objetivo promover ações, de caráter orientador, encaminhador, avaliador, no campo psicológico. Este serviço tem a função de acolhimento e orientação. É um momento dedicado à escuta e reflexões das emoções diárias, buscando oferecer suporte e apoio do discente, e, quando necessário, o encaminhamento para outros serviços de atendimento. O atendimento acontece diariamente no horário de 09h00 às 12h00 e de 15h00 às 19h00.
Mais informações sobre os apoios discentes disponibilizados pela Coordenação de Assuntos Estudantis podem ser encontradas aqui.
          </p>
          </div>
        </section>
    </div>

      <div id="rodape">
        Todos os direitos reservados
      </div>
    </div>
  </body>
</html>
