<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Mulheres na Computação</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/css/home.css">

 	<!-- bootstrap core css -->
 	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />

  	<!-- responsive style -->
  	<link href="../public/css/responsive.css" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link href="../public/css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div id="cabecalho">
            <div id="logo">
                <h1>Mulheres na Computação</h1>
            </div>

            <div id="menu">
                <a href="home.html">Home</a>
                <a href="aula.html">Aulas</a>
                <a href="ajuda.html">Ajudas</a>
                <a href="informativo.html">Informações</a>
                <a href="contato.html">Contato</a>
            </div>

        </div>

        <div id="main">
                <section class="contact_section layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Contato
      </h3>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form action="">
            <div>
              <input type="text" placeholder="Nome">
            </div>
            <div>
              <input type="email" placeholder="E-mail">
            </div>
            <div>
              <input type="text" placeholder="Número de telefone">
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Memsagem">
            </div>
            <div class="d-flex justify-content-center ">
              <button>
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>


            <div id="rodape">
                Todos os direitos reservados
            </div>
        </div>
    </body>
</html>
