<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Mulheres na Computação</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/CSS/home.css">
    </head>

    <body>
        <div id="cabecalho">
            <div id="logo">
                <h1>Mulheres na Computação</h1>
            </div>

            <div id="menu">
                <a href="home.html">Home</a>
                <a href="informativo.html">Informações</a>
                <a href="contato.html">Contatos</a>
            </div>
        </div>
    </body>
</html>