{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Início | SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    {% include 'cabecalho.html'%}

    <div id="main">
        <section class="about_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        Home
                    </h3>
                </div>
        </section>

        <!-- Abertura postagens -->
        {% for post in data %}
        <div class="postagens">
            

            <h2>{{post.titulo}}</h2>

            <span class="data-postagem">Autora:{{post.nome}}. Postado em {{post.dataHora.date}} ás
                {{post.dataHora.time}}</span>
            <p>
                {{post.texto}}
            </p>
            <p>
                <a style="color: #FFFFFF" class="btn btn-primary btn-sm" role="button"
                    href="/visualizar/{{post.fkusuario}}/{{post.estudante}}/{{post.id}}/{{post.programada}}/{{post.dataHora}}">Visualizar</a>
            </p>
            
        </div>
        {% endfor %}
        
    </div>

        <div id="rodape">
            Todos os direitos reservados
        </div>
    </div>
</body>

</html>