<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Informações</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/CSS/informativo.css">
    </head>

    <body>
        <div class="main">
            <div class="apresentacao">
                <div class="picture">
                    <img class="img-comp" src="../public/img/comp_meninas.png" alt="Foto da logo do site">
                </div>
                <div class="txt-informativo">
                    <h2>Sobre</h2>
                    <p>Essa página tem como objetivo ajudar e a motivar as mulheres a continuar nos cursos de Exatas na Universidade Federal de Juiz de Fora (UFJF), mas especificamente nos cursos de Computação, onde o número de mulheres é bastante baixa.</p>
                    <p>Os cursos são: Engenharia Computacional, Ciência da Computação, Sistemas de Informação e Ciências Exatas com foco nos dois primeiros cursos já citados.</p>
                </div>
            </div>
        </div>
    </body>
    
</html>