{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>SigaComElas</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

        <!-- responsive style -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
            
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>
        <div id="cabecalho">
            <div id="logo">
                <h1>SigaComElas</h1>
            </div>
        </div>

        <div id="main">
            <section class="contact_section layout_padding">
                <div class="container layout_padding2-top">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <form action="/router/login/" method="post">
                                {% csrf_token %}
                                <div>
                                    <input id="cpf" name="cpf" type="number" placeholder="CPF">
                                </div>

                                <div>
                                    <input id="senha" name="senha" type="password" placeholder="Senha">
                                </div>

                                {% if is_erro %}
                                <script>
                                    function erro(){
                                        alert("{{erro_message}}")
                                    }
                                </script>
                                {% endif %}

                                <div class="d-flex justify-content-center ">
                                    <button type="submit" onclick="erro()">
                                        <!-- <a href="">Entrar</a> -->
                                        Entrar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <p style="text-align:center;">
                Entre com as mesmas credenciais do SIGA.
            </p>
        </div>

        <div id="rodape">
            Todos os direitos reservados
        </div>
    </body>
</html>
