<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <title>SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/home.css">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="cabecalho">
      <div id="logo">
        <h1>SigaComElas</h1>
      </div>

      <div id="menu">
        <a href="homeUsuario.html">Home</a>
        <a href="titulos.html">Títulos</a>
        <a href="tutorial.html">Tutorial</a>
        <a href="contato.html">Contato</a>
        <a href="politicas.html">Políticas</a>
        <a href="home.html">Sair</a>
      </div>
    </div>

     <div id="main">
        <section class="about_section layout_padding">
          <div class="container">
            
			<div class="custom_heading-container">
              <h3 class=" ">
                Professoras dos Deptos. do ICE
              </h3>
            </div>
          
		  
		 <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Beatriz Silva</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Silvia Wexler</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Donatella Silva</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
		  <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Mariana Sampaio</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Laura Passini</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/img/Perfil.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Gabriele Machado</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Página da professora &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div>
		</div>
		 
        </section>
    </div>

      <div id="rodape">
        Todos os direitos reservados
      </div>
    </div>
  </body>
</html>
