{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>
  <title>Ranking | SigaComElas</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'css/home.css'%}"> -->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- responsive style -->
  <!-- <link href="../static/css/responsive.css" rel="stylesheet" /> -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
  <div id="cabecalho">
    <div id="logo">
      <h1>SigaComElas</h1>
    </div>

    <div id="menu">
      <a href="/home/">Home</a>
      <a href="/criarPost/">Criar Postagem</a>
      <a href="/titulos/">Títulos</a>
      <a href="/tutorial/">Tutorial</a>
      {% if c.nao_aluna %}
      <a href="/criaTarefa/">Criar Tarefa</a>
      {% else %}
      <a href="/titulo-atual/">Seu título</a>
      {% endif %}

      <a href="/ranking/">Ranking</a>
      <a href="/usuariosMesmoTitulo/">Usuários com o mesmo título</a>
      <a href="/professoras/">Lista de Professoras</a>
      <a href="/usuarios/">Usuários</a>
      <a href="/assistencia/">Assistência Estudantil</a>
      <a href="/politicas/">Políticas</a>
      <a href="/sobre/">Sobre</a>
      <a href="http://127.0.0.1:8000">Sair</a>
    </div>
  </div>

  <div id="main">
    <section class="about_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            Ranking
          </h3>
        </div>

        <div class="layout_padding2-top">
          <div class="table-responsive-xl">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Pontos</th>
                </tr>
              </thead>
              <tbody>
                {% for item in usuarios %}
                <tr>
                  <td>{{item.nome}}</td>
                  <td>{{item.pontos}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="rodape">
    Todos os direitos reservados
  </div>
</body>

</html>