{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Sobre | SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/home.css'%}"> -->

    <!-- CSS da página -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

<body>
    {% include 'cabecalho.html' %}

    <div id="main">
        <section class="about_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        Sobre
                    </h3>
                </div>

                <div id="sobre">
                    <img class="img-logo" src="../static/img/comp_meninas.png">
                    <p>Essa rede tem como objetivo ajudar e motivar as mulheres a continuar nos cursos de Exatas na
                        Universidade Federal de Juiz de Fora (UFJF), mas especificamente nos cursos de Computação, onde
                        o número de mulheres é muito baixa.</p>
                    <p>Os cursos são: Engenharia Computacional, Ciência da Computação, Sistemas de Informação e Ciências
                        Exatas com foco nos dois primeiros cursos já citados.</p>
                </div>
            </div>
        </section>
    </div>

    <div id="rodape">
        Todos os direitos reservados
    </div>
    </div>
</body>

</html>