{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <title>SigaComElas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
      
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

  <body>
    <div id="cabecalho">
      <div id="logo">
        <h1>SigaComElas</h1>
      </div>

      <div id="menu">
        <a href="/home/">Home</a>
        <a href="/titulos/">Títulos</a>
        <a href="/tutorial/">Tutorial</a>
        <a href="/sobre/">Sobre</a>
        <a href="/politicas/">Políticas</a>
        <a href="/titulo-atual/">Seu título</a>
        <a href="http://127.0.0.1:8000">Sair</a>
      </div>
    </div>

    <div id="main">
      <section class="about_section layout_padding">
        <div class="container">
          <div class="custom_heading-container">
            <h3 class=" ">
              Títulos
            </h3>
          </div>

          <div class="layout_padding2-top">
            <div class="table-responsive-xl">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Faixa de Pontuação</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Bonnie Prado Pinto</th>
                    <td>0-840</td>
                  </tr>

                  <tr>
                    <th scope="row">Angelica Ross</th>
                    <td>841-1680</td>
                    </tr>

                  <tr>
                    <th scope="row">Shirley Ann Jackson</th>
                    <td>1681-3360</td>
                  </tr>

                  <tr>
                    <th scope="row">Timnit Gebru</th>
                    <td>3361-6720</td>
                  </tr>

                  <tr>
                    <th scope="row">Marie Van Brittan Brown</th>
                    <td>6721-oo</td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="rodape">
      Todos os direitos reservados
    </div>
  </body>
</html>
