{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>SigaComElas</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/tituloAtual.css'%}">

    <head>
        <title>Seu Título Atual | SigaComElas</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="{% static 'css/tituloAtual.css'%}">

        <!-- responsive style -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

<body>
    {% include 'cabecalho.html' %}


    <div id="main">
        <section class="service_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        Título Atual
                    </h3>
                </div>

                <div class="layout_padding2-bottom">
                    <p>Titulo: {{c.aluna.titulo}}</p>
                    <p>Estudante: {{c.aluna.nome}}</p>
                    <p>Pontuação atual: {{c.aluna.pontuacao}}</p>
                    <p>Quantos pontos faltam pra trocar de título: {{c.aluna.pontos_para_prox_titulo}}</p>
                </div>

                <div class="custom_heading-container">
                    <h3 class=" ">
                        Histórico de títulos
                    </h3>
                </div>

                <div class="table-responsive-xl">
                    <br /><br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in c.historico %}
                            <tr>
                                <td>{{item.titulo}}</td>
                                <td>{{item.data}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- <div id="area-lateral">
                area lateral
            </div> -->

    <div id="rodape">
        Todos os direitos reservados
    </div>
    </div>
</body>

</html>