{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>SigaComElas</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/visualizacao.css'%}">

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

        <!-- responsive style -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>
        <div id="cabecalho">
            <div id="logo">
                <h1>SigaComElas</h1>
            </div>

            <div id="menu">
                <a href="home.html">Home</a>
                <a href="titulos.html">Títulos</a>
                <a href="tutorial.html">Tutorial</a>
                <a href="sobre.html">Sobre</a>
                <a href="politicas.html">Políticas</a>
                <a href="http://127.0.0.1:8000">Sair</a>
            </div>

        </div>

        <div id="main">
            <div id="conteudo">
                <!-- Abertura postagens -->
                <div class="visualizacao">
                    {% for post in data %}
                    <!-- <h2>Título da Postagem</h2> -->
                    <h2>{{post.titulo}}</h2>
                    <!-- <span class="data-postagem">Postado em 28 de Junho de 2022</span> -->
                    <span class="data-postagem">Autora:{{post.nome}}. Postado em {{post.dataHora.date}} ás
                        {{post.dataHora.time}}</span>
                    <p>
                        <!-- Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.  -->
                        {{post.texto}}
                    </p>
                    <a href="visualizar">Visualizar</a>
                    {% endfor %}
                </div>
                <!-- Fechamento da postagens -->
            </div>

            <!-- <div id="area-lateral">
                    area lateral
                </div> -->

            <div id="rodape">
                Todos os direitos reservados
            </div>
        </div>
    </body>

</html>