/* Elementos */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: #FFFAFA;
}

/* Ids */

#cabecalho {
    background-color: #DDA0DD;
    padding: 25px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#main {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 90px !important;
}

#conteudo {
    width: 660px;
    float: left;
    margin-bottom: 203px;
}

#rodape {
    clear: both;
    background-color: #CCCCCC;
    text-align: center;
    padding: 15px;
}

/* Tags */

h1 {
    color: #BA55D3;
    font-size: 2.5em;
}

h2 {
    color: #4B0082;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #4B0082;
    padding: 8px 12px;
}

a:hover {
    color: #8B008B;
}

/* Classes */
.postagens {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #BA55D3;
    display: block;
}